.deckList {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  max-height: 100%;
  overflow-y: auto;
  text-align: center;
}
.deckList > * {
  width: 150px;
  height: 322px;
  position: relative;
  cursor: pointer;
  background-color: gray;
  border: 1px solid black;
  border-radius: 10px;
}
.deckList > * > div > img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}
.promoWrapper {
  width: 150px;
  height: 110px;
}
.promoWrapper > img {
  width: 100%;
  height: 100%;
}

.deckList .deck-title {
  /* height: 40px; */
  /* max-lines: 1; */
  font-size: medium;
  text-overflow: ellipsis;
  max-height: 54px;
  height: 54px;
  display: block; /* or inline-block */
  word-wrap: break-word;
  overflow: hidden;
  line-height: 1.8em;
  margin-bottom: 16px;
  padding-left: 4px;
  padding-right: 4px;
}
.deckList .deckInfo > * {
  text-align: left;
  padding-left: 4px;
  padding-right: 4px;
}
.deckList .deckInfo .colors {
  display: flex;
  align-items: center;
  justify-content: center;
}
