#set-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
}

#set-wrapper > * {
    /* card design */
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 225px;
    height: 80px;
    /* margin: 8px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: black;
    font-weight: 700;
    background-color: darkgray;
    cursor: pointer;
}

#set-wrapper img {
    margin: 8px;
    width: 24px;
    /* filter: invert(42%) sepia(93%) saturate(1352%) hue-rotate(87deg) brightness(119%) contrast(119%); */
}
