button.selected {
  border-color: #646cff;
}

.manaSymbol {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #000;
  margin: 0 2px;
}

.manaSymbol selected {
  border-color: #646cff;
}

#card-list-container > * {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  width: 100%;
}
#card-list-container > * > * {
    flex: 1;
}

.card-container > .magicCard > img {
    transition: transform 0.2s;
}
.card-container > .magicCard > img:hover {
    vertical-align: middle;
    transform: scale(1.1);
    transition: transform 0.2s;
}
