#magic-deck-view {
  .deck-details-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }
  #deck-detail {
    position: relative;
    display: flex;
    gap: 1rem;
  }
  #deck-detail > .image-stats {
    position: relative;
    width: 323px;
    height: 450px;
    flex-shrink: 0;
  }
  #deck-detail > .image-stats > .backside {
    position: absolute;
  }
  #deck-detail > .image-stats > img {
    width: 323px;
    height: 450px;
    border-radius: 16px;
    flex-shrink: 0;
    z-index: 1;
    position: relative;
  }
  .deck-details-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  .deck-details-list > * {
    display: flex;
    gap: 8px;
    justify-content: space-between;
  }

  .play-button {
    margin-left: 100px;
  }
}
