.card-content {
  .printingsPreview,
  .printingsPreview > img {
    width: 250px;
    height: 350px;
    border-radius: 12px;
  }

  .printings {
    overflow-y: scroll;
    max-height: 300px;
    h3 {
      margin-bottom: 10px;
    }
    ul {
      list-style: none;
      padding: 0;
    }
    li {
      background-color: #2b2b2b;
      border-radius: 4px;

      &.selected,
      &:hover {
        background-color: #444;
      }

      .print {
        padding: 10px;
        margin-bottom: 4px;
      }
    }
  }

  .actionButtons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    & > * > * {
      width: 100%;
    }
  }
}
