#loadingSpinnerWrapper {
  display: none;
}
#loadingSpinner {
  .blue {
    color: blue;
  }
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
}

#loadingSpinner > div {
  margin: auto;
}

#root:not(:empty) + #loadingSpinnerWrapper > #loadingSpinner {
  display: none;
}
