.new-match-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 16px;

  .formRow {
    display: flex;
    gap: 8px;
    * {
      flex: 1;
    }
  }
}

.match-creation-buttons {
  display: flex;
  gap: 8px;
}
