nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #333;
    color: #fff;
    list-style-type: none;
}
nav ul {
    border-radius:10px;
}
nav ul li {
    cursor: pointer;
    padding: 5px;
}
