
.magicCard,
.magicCard > .image-wrapper,
.magicCard > .image-wrapper > img,
.magicCard.small,
.magicCard.small > .image-wrapper,
.magicCard.small > .image-wrapper > img {
  width: 174px;
  height: 242px;
  border-radius: 12px;
  transition: width 0.3s, height 0.4s, transform 0.5s;
}

@screen md {
  .magicCard,
  .magicCard > .image-wrapper,
  .magicCard > .image-wrapper > img {
    width: 245px;
    height: 341px;
    border-radius: 12px;
    transition: width 0.3s, height 0.4s, transform 0.5s;
  }
}


.magicCard.large,
.magicCard.large > .image-wrapper,
.magicCard.large > .image-wrapper > img {
  width: 350px;
  height: 488px;
  border-radius: 24px;
  transition: width 0.3s, height 0.4s, transform 0.5s;
}

.magicCard > .title {
  font-size: large;
  font-weight: bold;
  margin: 0.5em 0;
  height: 50px;
}
.magicCard:not(.backside) {
  position: relative;
}

.magicCard .magicCardRotateButton {
  position: absolute;
  right: 20px;
  bottom: 30px;
  padding: 0.5em;
  width: 20px;
  text-align: center;
  border-radius: 20px;
  background-color: rgb(38, 41, 57);
  color: white;
  cursor: pointer;
}
.magicCard > .image-wrapper.flipped {
  transform: rotateY(180deg);
}
.magicCard > .image-wrapper.flipped > img {
  transform: rotateY(180deg);
}
