#finances-view > #finances-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

#finances-view > .financeRowContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
}

#finances-view > .financeRowContainer > .financeRow {
  min-height: 44px;
  display: flex;
  gap: 10px;
  flex-direction: row;
}

#finances-view > .financeRowContainer > .financeRow > * {
  flex: 1;
  padding: 8px;
  font-size: 1.2em;
  font-weight: 500;
}
